@mixin positionCenter($type: fixed) {
  position: $type;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}
